CLIENT_ID=
CLIENT_SECRET=

REGION=
REFRESH_TOKEN=

PROFILE_ID=
PORTFOLIO_ID=

SP_CAMPAIGN_ID=
SB_CAMPAIGN_ID=
SD_CAMPAIGN_ID=

SP_AD_GROUP_ID=
SB_AD_GROUP_ID=
SD_AD_GROUP_ID=

SP_KEYWORD_ID=
SB_KEYWORD_ID=

SP_NEG_KEYWORD_ID=
SB_NEG_KEYWORD_ID=